body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", sans-serif;
    height: 100%;
}

body.classic .face div {
    margin: 2px;
    border-radius: 10px;
}

body.dark a {
    color: white;
}
body.dark {
    background: black;
}
body.dark .w {
    background: white;
}
body.light a {
    color: black;
}
body.light {
    background: white;
}
body.light .w {
    background: black;
}
body.neutral a {
    color: white;
}
body.neutral {
    background: slategray;
}
body.neutral .w {
    background: white;
}

a {
    text-decoration: none;
    margin: 10px;
}
div {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    width: 800px;
}
.flexChild {
    flex: 1;
}

.cubeWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 800px;
}

.face {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.face > div {
    padding: 2px;
}

#u, #d {
    margin-left: 200px;
}

.y {
    background: yellow;
}
.o {
    background: orange;
}
.b {
    background: dodgerblue;
}
.r {
    background: red;
}
.g {
    background: limegreen;
}